.registerForm {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.registerButton {
    margin-top: 10px;
    width: 100%;
}

.logo {
    max-width: 256px;
}